/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOTS */
:root{
    --size-md: 1.4rem;
}

/* GENERICS */
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    margin: 15px;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid transparent;
    background-color: #000;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: var(--size-md);
}
h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}
h2{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 10px;
}


/* UTILITIES */
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.h-100{
    height: 100%;
}
button.white{
    background-color: #fff;
    color: #000;
}
button.lblue{
    background-color: #8EA1E1 ;
}
.bg-white{
    background-color: #fff;
}
.bg-gray{
    background-color: #f6f6f6;
}
.border{
    border: 1px solid black;
}
.flex.reverse{
    flex-direction: row-reverse;
}


/* HEADER*/
header{
    background-color: #3161E0;
    color: #fff;
}
/*Creo il TOPHEADER*/
.topheader{
    height: 80px;  
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    flex-basis: 20%;
    background-image: url("../img/logo.svg");    
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center left;
}
.navbar{
    flex-grow: 1;
}
.navbar-action{
    text-align: right;
    flex-basis: 20%;
}
/*Lista di link per la navbar*/
.link-list{
    text-align: center;
}
.link-list > *{
    display: inline;
    padding: 0 30px;

}
.topheader button{
    font-size: 1rem;
    /*flex-basis: 20%; come mai se metto il flex basis il button si allunga?
    Perché era il bottone stesso un figlio diretto, doveva stare dentro a un 
    contenitore.*/
}
/* JUMBOTRON */
.jumbotron{
    height: 600px;
    padding-top: 100px;
    background-image: url("../img/jumbo.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
}
.jumbo-text{
    width: 50%;
    margin: 0 auto; 
    text-align: center;
    font-size: var(--size-md);    
}
.jumbo-text p{
    padding: 20px;
    line-height: 1.5;
}

/* MAIN */
/* Creo le SECTION del main*/
section{
    padding: 60px 0;
}
.image-box{
    flex-basis: 60%;
    height: 100%;
}
.text-box{
    padding-left: 60px;
    line-height: 1.5;
    flex-basis: 40%;
    font-size: var(--size-md);
}
.pd-right{
    padding-left: 0;
    padding-right: 60px;
}
/*CREO UNA SEZIONE DIVERSA APPOSTA PER L'ULTIMA*/
.big-box{
    text-align: center;
    font-size: var(--size-md);
}
.adventuretime{
    width: 45%;
    padding-top: 30px;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

/*FOOTER*/
footer{
    background-color:#23272A;
    color: #fff;
    padding: 50px 0;
}
/*FOOTER TOP*/
.footer-top{
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #3C4763;
}
/*FOOTER TOP LEFT*/
.footer-left{
    flex-basis: 30%;
    padding-right: 30px;
}
.footer-left h3{
    font-size: 2rem;
    color: #7289DA;
    line-height: 1.5;
    margin-bottom: 10px;
}
.flag-image{
    height: 1rem;
}
.icons{
    margin-top: 20px;
    display: flex;
    gap: 25px;
}
/*FOOTER TOP RIGHT*/
.footer-right{
    flex-basis: 70%;
}
.footer-nav{
    height: 100%;
    display: flex;
}
.nav-col{
    flex-basis: 25%;
    line-height: 2;
}
.nav-col h4{
    color: #7289DA;
    font-weight:700;
}
/*FOOTER BOTTOM*/
.footer-bottom{
    height: 80px; /*se tolgo l'img dall'html, devo mettere una height a flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom > button{
    font-size: 1rem;
}